* {
  box-sizing: border-box;
}

body {
  background: #C3D7DF;
  max-width: 1920px;
  padding: 0 5% 0 5%;
}

h1 {
  text-align: center;
  color: #303030;
  font-size: 55px;
  font-family: 'Bungee Shade', cursive;
  margin-bottom: 10px;
}

header {
  max-width: 600px;
}

.prompt-button, .robot-body, .author-section, .explanation-text, .about, .quote {
  font-family: 'Lato', sans-serif;
}

.quote {
  margin-top: -3px;
  font-size: 106%;
  font-style: italic;
  color: #303030;
  text-align: center;
}

.antenna {
  width: 10px;
  height: 35px;
  background: #677279;
  border-top: 10px solid #D75C37;
  margin: 10px auto 0 auto;
}

.robot-head {
  position: relative;
  width: 250px;
  height: 122px;
  background: #6991AC;
  border: 6px solid #677279;
  border-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 8%;
  border-top-left-radius: 8%;
}

.left-bolt, .right-bolt {
  display: inline-block;
  position: absolute;
  height: 30px;
  background: #677279;
  width: 18px;
  top: 30%;
}

.left-bolt {
  left: -8%;
}

.right-bolt {
  right: -8%;
}


.left-eye, .right-eye {
  display: inline-block;
  border-radius: 100%;
  border: 6px solid #677279;
  width: 35px;
  height: 35px;
  background: #D75C37;
  margin: 12px;
}

.left-eye {
  margin-left: 29%;
}

.prompt-button {
  text-align: center;
  color: #303030;
  width: 180px;
  height: 40px;
  margin-left: 13%;
  border: 4px solid #677279;
  background: #F5F5F5;
  border-radius: 10%;
  font-size: 110%;
}

.hidden {
  display: none;
}

.robot-body {
  max-width: 800px;
  color: #262626;
  border: 4px solid #677279;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 150px;
  width: 100%;
  border: 4px solid #677279;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-to-learn {
  text-align: center;
  color: white;
  font-size: 102%;
}

.learn-section {
  border: 4px solid #677279;
  padding: 6px;
  height: 40px;
  background: #303030;
}

.author-section {
  text-align: center;
  color: #303030;
  padding: 20px 0 20px 0;
  margin-top: 10px;
}

.explanation-text {
  position: relative;
  color: #303030;
  background: #F5F5F5;
  border: 4px solid #677279;
  border-radius: 2%;
  padding: 0 13px 0 13px;
  font-size: 101%;
}

.close {
  border: none;
  background: #F5F5F5;
  font-size: 150%;
  position: absolute;
  color: #D75C37;
  right: 0;
  bottom: 0;
}

.gif {
font-size: 0;
height: 220px;
}

.gif-itself {
  max-width: 98%;
  max-height: 98%;
  font-size: 0;
  padding-left: 5px;
}

.word {
  width: 100%;
  height: 100%;
  font-size: 300%;
  text-align: center;
  color: #303030;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word:hover {
  background: #ffffba;
}

.about {
  color: white;
  background: #677279;
  width: 25%;
  height: 30px;
  border-radius: 10%;
  margin-left: 38%;
  font-size: 102%;
}

.onoffswitch {
  position: relative;
  margin: 4px 0 4px 12px;
  width: 90px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  display: inline-block;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition:
  margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #D75C37; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 100%;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.on-off-label {
  display: inline-block;
  font-size: 105%;
  color: white;
}

.settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #677279;
}

.left-foot {
  width: 70%;
  height: 20px;
  background: #677279;
  display: inline-block;
  margin-left: 15%;
  border-bottom: 8px solid #303030;
}

@media only screen and (min-width: 640px) {

  .box {
    height: 220px;
  }
  .about {
    position: absolute;
    right: 0;
}

  header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .right-foot {
    width: 70%;
    height: 20px;
    background: #677279;
    display: inline-block;
    margin-left: 15%;
    border-bottom: 8px solid #303030;
  }

}
